@model Quiron.LojaVirtual.Dominio.Entidades.Produto

@using Quiron.LojaVirtual.Web.HtmlHelpers

<link href="~/Content/Site.css" rel="stylesheet" />

<div class="well">
    @if (Model.Imagem != null)
    {
        <div class="row">
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="120" height="120" src="@Url.Action("ObterImagem", "Vitrine", new { Model.ProdutoId })" />
            </div>

        </div>
    } 


    <div class="row">
        <h4>
            @Html.ActionLink(@Model.Nome, "Detalhes", "Vitrine", new { id = @Model.ProdutoId, produto = @Model.Nome.ToSeoUrl() }, new { @class = "deco-nome" })
        </h4>
        <br />
        <span class="pull-right label label-primary">
            @Model.Preco.ToString("c")

        </span>

    </div>
</div>





   